html {
    background-color: black;
}

img {
    border: 5px solid antiquewhite;
    width: 100%;
}

#divone {
    padding-top: 5%;
    text-align: center;
    color: antiquewhite;
    width: 50%;
    margin-left: 25%;
}

#hfont {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}